nav {
  background-color: $navbgcolor;
  ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    display: flex;
    list-style: none;
  }
  a {
    padding: 5px 10px;
    text-decoration: none;
    color: $maintextcolor;
    &:hover {
      background-color: darken($navbgcolor, 10%);
      color: white;
    }
  }
}
