nav {
  background-color: $navbgcolor;
  position: sticky;
  top: -2px;
  z-index: 1;
  ul {
    padding: 0;
    margin: 0;
    padding-left: 20px;
    display: flex;
    list-style: none;
  }
  a {
    padding: 5px 10px;
    text-decoration: none;
    color: $maintextcolor;
    &:hover {
      background-color: darken($navbgcolor, 10%);
      color: white;
    }
  }
}
@media screen and (max-width: 400px) {
  nav {
    ul {
      padding-left: 0;
      flex-direction: column;
      text-align: center;
    }
    position: relative;
  }
}
