@import "variables", "header", "nav", "footer";
main{
    display: grid;
    grid-template-areas: 
    "img1 p"
    //"p p p p p"
    "p img2";
    img{
        width: 20%;
    }
    img:first-of-type{
        grid-area: img1;
    }
    p{
        grid-area: p;
    }
    img:last-of-type{
        grid-area: img2;
    }
}